.DS_Store
*.tgz
*.vsix
/.direnv/
/.envrc
/packages/codemirror-color-picker/LICENSE
/packages/codemirror-interact/LICENSE
/packages/codemirror/icon.png
/packages/codemirror/LICENSE
/packages/codemirror/README.md
dist/
node_modules/
